body,
html {
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

nav {
  margin: 0;
  padding: 0;
  text-shadow: 0 0 5px darkcyan;
  color: white;
}

.title {
  display: flex;
  background-color: lightblue;
  margin: 0;
  padding: 0;
  font-size: 38px;
  color: greenyellow;
}

.top-nav,
.sign-up,
.login {
  background-color: lightblue;
  overflow: hidden;
}

.top-nav a {
  float: left;
  color: slategrey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.top-nav a.active,
.top-nav a:hover {
  background-color: grey;
  color: whitesmoke;
}

.dark-mode {
  background-color: #333;
  color: white;
}

.dark-mode-button {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  top: 10px;
  right: 100px;
  padding: 10px 20px;
  border-radius: 20px;
}

.dark-mode .title,
.dark-mode .top-nav,
.dark-mode .sign-up,
.dark-mode .login {
  background-color: darkslategray;
}

.dark-mode .top-nav a,
.dark-mode .login-button {
  color: whitesmoke;
}

.dark-mode .title {
  color: greenyellow;
}

.login-button {
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  border-radius: 20px;
}

.artikel-home .slogan {
  color: darkgrey;
  font-size: 40px;
  text-align: center;
  margin-top: 200px;
}

.artikel-home .search {
  margin-top: 20px;
  text-align: center;
}

.artikel-home button {
  width: 6rem;
  height: 2.5rem;
  border-radius: 0 10px 10px 0;
}

.search [type="text"] {
  width: 15rem;
  height: 2.5rem;
  border-radius: 10px 0 0 10px;
  transition: width 0.4s ease-in-out;
}

.search [type="text"]:focus {
  width: 50%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5px auto;
  border: 1px solid #888;
  width: 60%; /* Adjust the width as needed */
  max-width: 400px; /* Set a maximum width if required */
}


.avatar {
  width: 100px;
  height: auto;
}

.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
